<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Fundamentals of Anything</title>
  <meta name="referrer" content="no-referrer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css"  crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/cdn/main.css">
  <link rel="icon" rel="mask-icon" href="/cdn/favicon.svg">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125402235-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-125402235-1');
  </script>

</head>
<body>
  <nav class="navbar">
    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/">
          Index
        </a>
        <a class="navbar-item" href="/about">
          About
        </a>
        <a class="navbar-item" href="/submission">
          Submit
        </a>
      </div>
    </div>
    </nav>
    <div id="content" class="container">{% block content %}{% endblock content %}</div>
    <div id="footer" class="footer has-text-centered">
        {% block footer %}
        &copy; Copyright 2018, <a href="https://www.erikpartridge.com/">Erik Partridge</a> &bull; Made with ❤️ in 🇨🇦 &bull; <a href="/privacy">Privacy</a>
        {% endblock footer %}
    </div>
</body>
</html>
